@model IEnumerable<MyShop.Core.Models.Order>

@section scripts{
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <link href="~/Scripts/DataTable/css/jquery.dataTables.css" rel="stylesheet" />
    <script src="~/Scripts/DataTable/js/jquery.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

    <script>
        $(document).ready(function ()
            {
                $('#ordersList').DataTable({
                    "ajax": {
                    "type" : "GET" ,
                    "url" : "@Url.Action("GetData","OrderManager")" ,
                    "datatype" : "json"
                    },
                    "columns":
                    [
                    { "data" : "CreatedAt" , "render": function (data, type, row) {
                            return moment(row.updatedDate).format('DD/MM/YYYY hh:mm:ss');}
                    },
                    { "data" : "FirstName" },
                    { "data" : "Surname" },
                    { "data" : "Email" },
                    { "data": "OrderStatus" },
                    { "data": "Id" , "render" : function ( data ) {
                        return '<a class="btn btn-danger" onclick="Manage(\'' + data + '\')">Manage Order</a>';
                        }}
                    ]
                });
            });

        function Manage( id ) {
            var url = '@Url.Action("UpdateOrder", "OrderManager", new { id = "_id_" })';
                window.location.href = url.replace('_id_', id);
        }

    </script>
}
<div class="col-md-12" style="background-color: white; padding-top: 20px; padding-bottom: 20px; border-radius: 3px;">
    <table class="display" id="ordersList">
        <thead>
            <tr>
                <th>
                    CreatedAt
                </th>
                <th>
                    FirstName
                </th>
                <th>
                    Surname
                </th>
                <th>
                    Email
                </th>
                <th>
                    OrderStatus
                </th>
                <th>

                </th>
            </tr>
        </thead>
    </table>
    <div>
        @Html.ActionLink("Back to List", "Index", "Admin")
    </div>
</div>
