@{
    ViewBag.Title = "Thank You";
}
<div class="col-md-12" style="background-color: white; padding-top: 20px; padding-bottom: 20px; border-radius: 3px;">

    <h2>Thank You</h2>
    Thank you for your order <br /><br />
    Order Id: @ViewBag.OrderId
</div>